version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5

  auth-postgres:
    image: postgres:16
    container_name: auth-postgres
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: auth_auth
      POSTGRES_PASSWORD: auth_pass
    ports:
      - "5433:5432"
    volumes:
      - auth_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "auth_auth", "-d", "auth_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  profiles-postgres:
    image: postgres:16
    container_name: profiles-postgres
    environment:
      POSTGRES_DB: profiles_db
      POSTGRES_USER: profiles_auth
      POSTGRES_PASSWORD: profiles_pass
    ports:
      - "5434:5432"
    volumes:
      - profiles_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "profiles_auth", "-d", "profiles_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  company-postgres:
    image: postgres:16
    container_name: company-postgres
    environment:
      POSTGRES_DB: company_db
      POSTGRES_USER: company_auth
      POSTGRES_PASSWORD: company_pass
    ports:
      - "5435:5432"
    volumes:
      - company_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "company_auth", "-d", "company_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  notification-postgres:
    image: postgres:16
    container_name: notification-postgres
    environment:
      POSTGRES_DB: notification_db
      POSTGRES_USER: notification_auth
      POSTGRES_PASSWORD: notification_pass
    ports:
     - "5436:5432"
    volumes:
      - notification_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "notification_auth", "-d", "notification_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  auth-service:
    build:
      context: ./handshaker-backend
      dockerfile: auth-service/Dockerfile
    container_name: auth-service
    depends_on:
      auth-postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: ${AUTH_DB_URL}        
      SPRING_DATASOURCE_USERNAME: ${AUTH_DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${AUTH_DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      SPRING_RABBITMQ_HOST: ${RABBITMQ_HOST}
    ports:
      - "8080:8080"

  profiles-service:
    build:
      context: ./handshaker-backend
      dockerfile: profiles-service/Dockerfile
    container_name: profiles-service
    depends_on:
      profiles-postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: ${PROFILES_DB_URL}
      SPRING_DATASOURCE_USERNAME: ${PROFILES_DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${PROFILES_DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      SPRING_RABBITMQ_HOST: ${RABBITMQ_HOST}
    ports:
      - "8083:8083"

  company-service:
    build:
      context: ./handshaker-backend
      dockerfile: company-service/Dockerfile
    container_name: company-service
    depends_on:
      company-postgres:
        condition: service_healthy
      rabbitmq:
       condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: ${COMPANY_DB_URL}
      SPRING_DATASOURCE_USERNAME: ${COMPANY_DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${COMPANY_DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      SPRING_RABBITMQ_HOST: ${RABBITMQ_HOST}
    ports:
      - "8082:8082"

  notification-service:
    build:
      context: ./handshaker-backend
      dockerfile: notification-service/Dockerfile
    container_name: notification-service
    depends_on:
      notification-postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: ${NOTIFICATION_DB_URL}
      SPRING_DATASOURCE_USERNAME: ${NOTIFICATION_DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${NOTIFICATION_DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      SPRING_RABBITMQ_HOST: ${RABBITMQ_HOST}
    ports:
      - "8084:8084"

  frontend:
      build: ./handshaker-frontend
      container_name: frontend
      depends_on:
        - auth-service
        - profiles-service
      environment:
        NEXT_PUBLIC_API_URL: http://localhost:8080
      ports:
        - "3000:3000"

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - auth-service
      - profiles-service

volumes:
  auth_postgres_data:
  profiles_postgres_data:
  company_postgres_data:
  notification_postgres_data:
