server:
  port: 8082

spring:
  application:
    name: company-service

  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:rabbitmq}

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

  flyway:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

jwt:
  secret: ${JWT_SECRET}
